:root {
  --color-dark-blue: #014c74;
  --color-primary: #016599;
  --color-black: #071c2d;
  --color-medium-blue: #287dc4;
  --color-light-blue: #68adf2;
  --color-dark-gray: #bfbfbf;
  --color-light-gray: #e1e1e1;
  --color-white: #ffffff;
  --color-secondary: #fbb02e;
  --color-background: #f5f5f5;
}
